.controller.xbox {
    background: url(https://imgur.com/JMEGTb5.png);
    height: 672px;
    width: 1440px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://imgur.com/JMEGTb5.png)
}

.xbox.disconnected {
    background: url(https://imgur.com/JMEGTb5.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
}

.xbox .trigger {
    width: 0px;
    height: 0px;
    background: url(xbox-assets/trigger.svg);
    opacity: 100;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 0px;
    height: 0px;
    background: url(xbox-assets/bumper.svg);
    opacity: 100;
}

.xbox .bumpers {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
}

.xbox .bumper.pressed {
    opacity: 100;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.sv);
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(https://imgur.com/tELQt1X.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 208px;
    height: 104px;
    top: 136px;
    left: 1276px;
}

.xbox .button {
    position: absolute;
    background: url(https://imgur.com/IvwXNnd.png);
    width: 52px;
    height: 52px;
}

.xbox .button.pressed {
    background-position-y: -52px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .b {
    background-position: -52px 0px;
    top: 0px;
    left: 84px;
}

.xbox .a {
    background-position: 0px 0px;
    top: 42px;
    left: 42px;
}

.xbox .x {
    background-position: 52px 0px;
    top: 0px;
    left: 0px;
}

.xbox .y {
    background-position: 104px 0;
    left: 42px;
    top: -42px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 118px;
    left: 55px;
}

.xbox .stick {
    position: absolute;
    background: url(https://imgur.com/HYOpEsl.png);
    background-position: -84px 0;
    height: 84px;
    width: 84px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 152px;
    left: 1250px;
}

.xbox .dpad {
    position: absolute;
    width: 156px;
    height: 156px;
    top: 250px;
    left: 50px;
}

.xbox .face {
    background: url(https://imgur.com/G0f4jwI.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
    width: 52px;
    height: 52px;
}

.xbox .face.up {
    background-position: 52px 0;
    left: 21px;
    top: -4px;
    
}

.xbox .face.down {
    background-position: 0px 0;
    left: 21px;
    top: 80px;
}

.xbox .face.left {
    background-position: 0 -104px;
    left: -22px;
    top: 38px;
}

.xbox .face.right {
    background-position: 0 -52px;
    left: 62px;
    top: 38px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}
